$gray: #b4b4b4;
$gray-1: #f7fafb;
$primary: #11A9E0;
$danger: #fff;
$btn-border-radius: 50px;
$spacer: 1rem;

// Adding spacer sizes
$spacers: (
  6: ($spacer * 6),
  7: ($spacer * 12)
);

*{
  font-family: 'Roboto', Arial, Helvetica, sans-serif ;
}