.hero{
  background: url('../images/hero-img.png') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 60vh;
}

.btn-onama{
  border: solid 3px;
  color: $white;
  font-weight: bold;
  &:hover{
    background: $white;
    color: $primary;
  }
}

.btn-zakazi{
  font-weight: bold;
  color: $primary;
  border: solid 3px $white;
  &:hover{
    background: none;
    color: $white;
  }
}

@include media-breakpoint-down(xs) { 
 
    .btn-onama{
      margin-top: 20px;
      display: block;
    }
 
 }